.page-main {
  .section-banner {
    position: relative;
    img {
      object-fit: cover;
      min-height: 100vh;
      vertical-align: top;
    }
    .btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      border: 1px solid map-get($colors, white);
      color: map-get($colors, white);
      background-color: transparent;
      &:hover {
        color: map-get($colors, white);
        background-color: map-get($colors, black);
      }
    }
  }
}
