.page-header {
  background-color: #a7b3bd;
  .header-logo {
    width: 64px;
  }
  .nav-menu {
    .nav-item {
      a {
        height: 80px;
        padding: 0 16px;
      }
      &:first-child {
        margin-left: 20px;
      }
    }
    .nav-active {
      color: map-get($colors, white);
      border-bottom: 3px solid map-get($colors, black);
    }
  }
  .header-action {
    margin-left: auto;
    .action-item {
      margin: 0 16px;
    }
    .icon-heart {
      // color: #a7b3bd;
      // -webkit-text-stroke-width: 1px;
      // -webkit-text-stroke-color: black;
    }
  }
  .btn {
    border-color: #a7b3bd;
    background-color: #a7b3bd;
  }
}
